# ===============================
# Compilación y Salidas
# ===============================
**/target/
**/classes/
**/bin/
build/
!**/src/main/**/target/
!**/src/test/**/target/

# ===============================
# Configuración Sensible (SEGURIDAD)
# ===============================
# Ignora el archivo real en cualquier nivel de carpeta
**/src/main/resources/application.yml
**/application-local.yml
*.log

# ===============================
# Archivos de Sistema y Editores
# ===============================
.DS_Store
Thumbs.db
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache

# ===============================
# Maven Wrapper
# ===============================
.mvn/
!**/src/main/**/build/
!**/src/test/**/build/